*{
	box-sizing: border-box !important;
}

body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    
    main {
        flex: 1 0 auto;
    }

    @media only screen and (min-width: 993px){
.container {
    width: 80%;
}}