<div class="navbar-fixed" ng-init="init()">
    <nav class="red darken-3" role="navigation">
        <div class="nav-wrapper container">            
            <i ng-class="mobileSearchFocus" class="material-icons waves-effect waves-light" style="display:inline-block; position: relative; left:-10px; cursor: pointer; transition:transform .5s ease" ng-click="toggleSidenav()">menu</i>
            <a ng-class="mobileSearchFocus" ui-sref="home.homePage" class="brand-logo youtube-logo"></a>
            <ul class="height-100" ng-class="search_ul" >
                <li class="height-100 search-item-li" ng-class="search_li">
                    <div class="height-100">
                        <label for="search"><i class="material-icons search-item-input-icon">search</i>
                        <span ng-show="tinySpinner" class="tiny-spinner right"></span>
                        </label>
                        <input ng-trim="false" ng-focus="searchFocused()" class="search-item-input" id="search" ng-model="query" ng-blur="searchBlured()" ng-change="fetchSearchSuggestion()" ng-keydown="inputKeypress($event)" placeholder="Search..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </div>
                    <div style="overflow: auto;
    max-height: calc(100vh - 57px);" ng-show="searchSuggestion && query && items" class="collection suggestion">
                        <a ng-class="(selectedIndex==$index)?'suggestion-item-hover':''" ng-repeat="item in items[1]" ng-mousedown="suggestionClick(item)" ng-mouseover="mouseOver($index)" class="collection-item">{{item}}</a>
                    </div>
                </li>
                <li class="pointer hide-on-med-and-up" ng-show="crossSign" ng-mousedown="query=''">
                    <i class="material-icons">close</i>
                </li>
            </ul>
        </div>
    </nav>
</div>