<div class="row" ng-init="init()">
<br>
<span style="font-size:24px;position: relative; left: 8px;max-width: calc(100% - 12px);">Uploaded Videos</span>
<br>
    <div class="col s6 m3 l3" ng-repeat="video in videos track by $index">
        <video-item video-detail="videoDetails[$index]" video="video" hide-channel="true"></video-item>
    </div>
    <div ng-if="loaderVideos" class="col s12 center">
        <spinner></spinner>
        <br>
    </div>
    <div class="col s12 center">
        <button class="btn" ng-if="nextPageToken" ng-click="loadMoreVideos()">Load More Videos</button>
    </div>
    <div ng-show="!videos.length && !loaderVideos" class="center" style="margin: 30px 0px 10px 0px;">
        <i class="material-icons channel-tab-icons">error</i>
        <span>No Videos Available</span>
    </div>
</div>
