<div ng-show="barModeAfterSlide" ng-class="{'ui-view-margin-adjust' : barModeAfterSlide && video}" ui-view></div>
<div ng-init="init()">
    <div ng-show="barModeAfterSlide && video" ng-class="{'video-bar-padding':isSideNavOn}" class="video-bar">
        <span ui-sref="home.videoPage({id: videoId})">
            <img  class="thumbnail" src="{{video.snippet.thumbnails.medium.url}}">
        <div class="video-title truncate">{{video.snippet.title}}</div>
        <div class="channel-title truncate">{{channel.snippet.title}}</div>
        <div class="channel-title truncate">{{video.currentTime}} / {{video.contentDetails.duration}}</div>
        </span>
        <div class="progress-bar-bg" ng-class="{'adjust-width' : isSideNavOn}">
            <div ng-style="bufferBarWidth" class="progress-bar buffered"></div>
            <div ng-style="progressBarWidth" class="progress-bar"></div>
        </div>
        <i ng-show="!isBuffering" ng-click="playPauseVideo()" class="material-icons play-pause-btn">{{isPlaying?'pause_circle_filled':'play_circle_filled'}}</i>
        <spinner ng-show="isBuffering"></spinner>
    </div>
    <div ng-class="{'slide-up-video-page' : !barMode, 'slide-down-video-page' : barMode, 'hide' : barModeAfterSlide}" class="row transform-transition">
        <div class="col l8 m9 s12" ng-class="mobilePaddingMargin">
            <div class="col s12" ng-class="mobilePaddingMargin">
                <div class="card" ng-class="mobilePaddingMargin">
                    <div class="card-image">
                        <div class="embed-container">
                            <youtube-video state-change-callback="onPlayerStateChange" video-id={{videoId}} player="player"></youtube-video>
                        </div>
                    </div>
                    <ul id="videoInfo" class="collapsible zero-margin video-accordion">
                        <li class="active">
                            <ul class="collapsible-header zero-padding" style="cursor: initial">
                                <li style="padding: 0px 10px;">
                                    <h5>{{video.snippet.title}}</h5>
                                </li>
                                <li class="divider"></li>
                                <li style="padding: 11px 10px;">
                                    <a ui-sref="home.channelPage.home({id: video.snippet.channelId})" class="chip channel-chip-video-page" style="max-width: 50%">
                                        <img ng-src="{{channel.snippet.thumbnails.default.url}}">
                                        <span class="truncate">
                                        {{channel.snippet.title}}
                                    </span>
                                    </a>
                                    <div class="right">
                                        <strong style="top:-17px; position:relative;">{{video.statistics.viewCount }} Views</strong>
                                        <div ng-if="likeCount+dislikeCount==0" style="z-index:9;height: 3px; background-color: grey; position: relative; top: -24px;"></div>
                                        <div ng-if="likeCount+dislikeCount!=0" ng-style="dislikeWidth" style="z-index:9;height: 3px; background-color: red; position: relative; top: -24px;"></div>
                                        <div ng-if="likeCount+dislikeCount!=0" style="height: 3px; background-color: green; position: relative; top: -27px"></div>
                                        <div style="display:inline-block; position:relative; top:-32px">
                                            <i class="material-icons" style="margin-right: 2px;">thumb_down</i>{{dislikeCount | number}}
                                        </div>
                                        <div style="display: inline-block; position:relative; top:-32px">
                                            <i class="material-icons" style="margin-right: 2px;  margin-left: 5px;">thumb_up</i>{{likeCount | number}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="collapsible-body" style="display:block;">
                                <blockquote> <strong>Uploaded: {{uploadedTime}}</strong> </blockquote>
                                <p class="video-description" ng-class="description" ng-bind-html="video.snippet.descriptionHTML"></p>
                                <div class="expand-description-button" ng-if="isExpandable" ng-click="expandDescription()">
                                    <div>{{expandDescriptionBar}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-if="commentsEnabled" scroll-fire="sortComments('relevance')" class="col s12 center" style="margin-top: 10px; margin-bottom: 5px;">
                <span style="margin-left: -26px;margin-right: 13px;">
                <input class="with-gap" name="comments" ng-click="order!='relevance'?sortComments('relevance'):return" type="radio" id="relevance" checked="true" />
                <label for="relevance">Top Comments</label>
            </span>
                <span style="margin-left: 13px;">
                    <input class="with-gap" name="comments" ng-click="order!='time'?sortComments('time'):return" type="radio" id="time" />
                <label for="time">Newest First</label>
                </span>
            </div>
            <div ng-if="commentsEnabled" class="col s12" style="margin-bottom: 10px">
                <ul class="card collection" style="margin-bottom: 0px">
                    <comment comment="comment" ng-repeat="comment in comments.items track by comment.id"></comment>
                    <div ng-if="!commentsLoader && comments.nextPageToken" class="expand-description-button" ng-click="loadMoreComments(comments.nextPageToken)">Load More Comments</div>
                </ul>
                <div ng-if="commentsLoader" class="progress" style="margin-top: 0px;">
                    <div class="indeterminate"></div>
                </div>
            </div>
            <div ng-if="!commentsEnabled" class="col s12 card" style="line-height: 3; text-align: center;">
                Comments have been disabled on this video.
            </div>
        </div>
        <div scroll-fire="loadRelatedVideos()" class="col l4 m3 s12 zero-padding">
            <div class="row">
                <video-item class="col s6 m12 l6" video="video" video-detail="videoDetails[$index]" channel="channels[$index]" ng-repeat="video in relatedVideos track by $index"></video-item>
            </div>
            <div ng-if="loaderVideos" class="col s12 center">
                <spinner></spinner>
                <br>
            </div>
            <div class="col s12 center">
                <button class="btn" ng-show="nextPageToken" ng-click="loadMoreVideos()">Load More Videos</button>
            </div>
        </div>
    </div>
</div>
