<br>
<div class="col s12 m4 center" ng-if="preloader">
    <spinner>
</div>
<div class="row" ng-if="videos">
    <div class="col s12 m6 l4" ng-repeat="video in videos">
        <video-item video="video"></video-item>
    </div>
</div>
<button class="btn waves-effect waves-light" name="action" ng-if="previousPageToken" ng-click="nextOrPrevious(previousPageToken)">Previous
    <i class="material-icons right">navigate_before</i>
</button>
<button class="btn waves-effect waves-light right" name="action" ng-if="nextPageToken" ng-click="nextOrPrevious(nextPageToken)">Next
    <i class="material-icons right">navigate_next</i>
</button>
