<li class="collection-item avatar" style="border-bottom: 1px solid #e0e0e0; min-height: 60px;">
    <a ui-sref="home.channelPage.home({id: comment.snippet.topLevelComment.snippet.authorChannelUrl.substring(31)})">
        <img class="circle" ng-src="{{::comment.snippet.topLevelComment.snippet.authorProfileImageUrl}}">
    </a>
    <a ui-sref="home.channelPage.home({id: comment.snippet.topLevelComment.snippet.authorChannelUrl.substring(31)})">
        <strong style="font-size: .95em;" class="title">{{::comment.snippet.topLevelComment.snippet.authorDisplayName}}</strong>
    </a>
    <span title="{{::comment.snippet.topLevelComment.snippet.updatedAtFull}}" style="font-size: .85em; color: #727272; cursor: default;">&nbsp;&nbsp;&nbsp;{{::comment.snippet.topLevelComment.snippet.updatedAt}}</span>
    <br>
    <span style="font-size: .90em;" ng-bind-html="comment.snippet.topLevelComment.snippet.textDisplay"></span>
    <ul class="collection" ng-if="comment.replies" style="border:none; margin-bottom: -10px;left: -30px;width: calc(100% + 50px);">
        <li style="min-height:60px" class="collection-item avatar" ng-repeat="reply in comment.replies.comments">
            <a ui-sref="home.channelPage.home({id: reply.snippet.authorChannelUrl.substring(31)})">
                <img class="circle" ng-src="{{::reply.snippet.authorProfileImageUrl}}">
            </a>
            <a ui-sref="home.channelPage.home({id: reply.snippet.authorChannelUrl.substring(31)})">
                <strong style="font-size: .95em;" class="title">{{::reply.snippet.authorDisplayName}}</strong>
            </a>
            <span title="{{::reply.snippet.updatedAtFull}}" style="font-size: .85em; color: #727272; cursor: default;">&nbsp;&nbsp;&nbsp;{{::reply.snippet.updatedAt}}</span>
            <br>
            <span style="font-size: .90em;" ng-bind-html="reply.snippet.textDisplay"></span>
        </li>
        <span ng-hide="moreRepliesSpinner" ng-click="loadMoreReplies()" class="more-replies" ng-if="comment.snippet.totalReplyCount>comment.replies.comments.length">Show {{comment.snippet.totalReplyCount-comment.replies.comments.length}} More {{replyText}} 
        </span>
        <span class="tiny-spinner more-replies-spinner" ng-show="moreRepliesSpinner" class="">
        </span>
    </ul>
</li>
