<div class="row" ng-init="init()">
<h5 style="position: relative; left: 20px;">Uploaded Videos</h5>
    <div class="col s12 m6 l4" ng-repeat="video in videos track by $index">
        <video-item video-detail="videoDetails[$index]" video="video"></video-item>
    </div>
    <div ng-if="loaderVideos" class="col s12 center">
        <spinner></spinner>
        <br>
    </div>
    <div class="col s12 center">
        <button class="btn" ng-if="nextPageToken" ng-click="loadMoreVideos()">Load More Videos</button>
    </div>
    <div ng-show="!videos.length && !loaderVideos" class="center" style="margin: 30px 0px 10px 0px;">
        <i class="material-icons channel-tab-icons">error</i>
        <span>No Videos Available</span>
    </div>
</div>
