<div ng-swipe-left="toggleSidenav()" class="mobile-sidenav-overlay" ng-show="(isMobile || isTablet) && isSideNavOn" ng-click="toggleSidenav()"></div>
<div ng-init="init()" ng-class="sidenavLeft" style="float:left; background-color:white; width:220px; height:100%; position: fixed; z-index: 10; overflow:auto; height:calc(100% - 56px); top: 56px; box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)">
    <ul style="margin-top: 10px">
        <li ui-sref="home.homePage" ng-click="(isMobile || isTablet) && toggleSidenav()" class="li-side waves-effect waves-teal pointer">
            <i class="material-icons channel-tab-icons red-text">home</i>Home
        </li>
        <li  ui-sref-active="grey lighten-4" ui-sref="home.trending({category: '',pageToken:''})" ng-click="(isMobile || isTablet) && toggleSidenav()" class="li-side waves-effect waves-teal pointer">
            <i class="material-icons channel-tab-icons green-text">trending_up</i>Trending
        </li>
        <!-- <li class="li-side waves-effect waves-teal pointer">
            <i class="material-icons channel-tab-icons blue-text">subscriptions</i>My Subscriptions
        </li> -->
        <li class="divider">
        </li>
        <li ui-sref-active="grey lighten-4" ui-sref="home.trending({category: 'music',pageToken:''})" ng-click="(isMobile || isTablet) && toggleSidenav()" class="li-side waves-effect waves-teal pointer">
            <i class="material-icons channel-tab-icons orange-text">music_video</i>Music
        </li>
        <li  ui-sref-active="grey lighten-4" ui-sref="home.trending({category: 'movies',pageToken:''})" ng-click="(isMobile || isTablet) && toggleSidenav()" class="li-side waves-effect waves-teal pointer">
            <i class="material-icons channel-tab-icons teal-text">movie</i>Movies
        </li>
        <li  ui-sref-active="grey lighten-4" ui-sref="home.trending({category: 'sports',pageToken:''})" ng-click="(isMobile || isTablet) && toggleSidenav()" class="li-side waves-effect waves-teal pointer">
            <i class="material-icons channel-tab-icons purple-text">directions_run</i>Sports
        </li>
        <li  ui-sref-active="grey lighten-4" ui-sref="home.trending({category: 'technology',pageToken:''})" ng-click="(isMobile || isTablet) && toggleSidenav()" class="li-side waves-effect waves-teal pointer">
            <i class="material-icons channel-tab-icons cyan-text">devices_other</i>Technology
        </li>
        <li  ui-sref-active="grey lighten-4" ui-sref="home.trending({category: 'comedy',pageToken:''})" ng-click="(isMobile || isTablet) && toggleSidenav()" class="li-side waves-effect waves-teal pointer">
            <i class="material-icons channel-tab-icons brown-text">insert_emoticon</i>Comedy
        </li>
        <li  ui-sref-active="grey lighten-4" ui-sref="home.trending({category: 'education',pageToken:''})" ng-click="(isMobile || isTablet) && toggleSidenav()" class="li-side waves-effect waves-teal pointer">
            <i class="material-icons channel-tab-icons pink-text">school</i>Education
        </li>
        <li class="divider">
        </li>
        <li  ui-sref-active="grey lighten-4" ui-sref="home.about" ng-click="(isMobile || isTablet) && toggleSidenav()" class="li-side waves-effect waves-teal pointer">
            <i class="material-icons channel-tab-icons pink-text">info_outline</i>About
        </li>
    </ul>
</div>