* {
    box-sizing: border-box !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/*change of default continer width*/

@media only screen and (min-width: 1025px) {
    .container {
        width: 90%;
    }
}


/*placeholder color*/

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}


/*basic classes..*/

.zero-padding {
    padding: 0px !important;
}

.zero-margin {
    margin: 0px !important;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.max-width-50 {
    max-width: 50%;
}

.pointer {
    cursor: pointer;
}

.pos-rel {
    position: relative;
}

.side-nav-margin-on {
    margin-left: 220px;
    transition: margin-left .2s ease;
}

.side-nav-margin-off {
    margin-left: 0px;
    transition: margin-left .2s ease;
}

.page-footer {
    width: 100%;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 5px 0 rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 1024px)and (min-width: 601px) {
    .row .col {
        padding: 0 0.20rem !important;
    }
}


/*video item classes*/

.channel-chip {
    width: initial;
    position: absolute;
    bottom: 0px;
    left: 42%;
    bottom: 5%;
    color: #039be5;
}

.channel-chip-video-page:hover {
    transition: all .5s, color .5s;
    background-color: grey;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .channel-chip {
        width: 45%;
        left: 52%;
    }
}


/*nav items classes*/

.nav-items {
    width: 70%;
    transition: width .5s;
}

@media only screen and (max-width: 600px) {
    .nav-items {
        width: 65%;
    }
}

@media only screen and (min-width:601px) and (max-width: 1024px) {
    .nav-items {
        width: 70%;
    }
}

.nav-items-focus {
    width: 80%;
    transition: width .5s;
}

@media only screen and (max-width: 600px) {
    .nav-items-focus {
        width: 100%;
        transition: width .5s;
    }
}

@media only screen and (max-width: 1024px) {
    .brand-logo {
        left: 4% !important;
        -webkit-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }
}

.youtube-logo {
    transition: transform .5s ease;
    background: url('../image/logo_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 100px;
    margin: 8px 0px 8px 20px;
}

@media only screen and (min-width: 601px) {
    .youtube-logo {
        transition: transform .5s ease;
        background: url('../image/logo_white.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 44px;
        width: 100px;
        margin: 10px 0px 10px 15px;
    }
}


/*search item classes..*/

.search-item-li {
    padding: 8px;
    width: 65%;
    margin-left: 15px;
    transition: width .5s;
}

@media only screen and (max-width: 600px) {
    .search-item-li {
        width: 100%;
    }
}

@media only screen and (min-width:601px) and (max-width: 1024px) {
    .search-item-li {
        width: 60%;
    }
}

.search-item-li-focus {
    padding: 8px;
    width: 75%;
    transition: width .5s;
}

@media only screen and (max-width: 600px) {
    .search-item-li-focus {
        width: 85%;
    }
}

.search-item-li>div {
    padding-left: 10px;
    border-radius: 4px;
    background-color: #d32f2f;
}

.search-item-li-focus>div {
    background-color: #e53935;
}

.search-item-input {
    position: relative;
    left: 35px;
    top: -7px;
    border: none !important;
    box-shadow: none !important;
    margin: 0px !important;
    width: 90% !important;
    transition: width .5s !important;
}

.search-item-input::-ms-clear {
    display: none;
}

.search-item-input:focus {
    width: 90% !important;
    transition: width .5s !important;
}

@media only screen and (max-width: 600px) {
    .search-item-input {
        width: 75% !important;
    }
    .search-item-input:focus {
        width: 80% !important;
    }
}

@media only screen and (min-width:601px) and (max-width: 1024px) {
    .search-item-input {
        width: 80% !important;
    }
}

.search-item-input-icon {
    position: absolute;
    top: 0px;
    color: white;
}

.suggestion {
    margin: 0.53rem 0 1rem 0 !important;
    background-color: white !important;
    padding: 0px !important;
    border-radius: 0px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.suggestion-item-hover {
    background-color: #ddd !important;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-accordion {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.02), 0 2px 5px 0 rgba(0, 0, 0, 0.05)
}

.video-description {
    white-space: pre-wrap;
    overflow: hidden;
    height: auto;
    max-height: 205px;
    transition: max-height .2s ease;
}

.expanded-description {
    max-height: 20000px;
    transition: max-height 1s ease;
}

.expand-description-button {
    line-height: 3;
    text-align: center;
    background-color: lightgrey;
    cursor: pointer;
}


/*channel page*/

.tabs .tab {
    min-width: 0px;
}

.channel-tab-highlight {
    border-bottom: 3px solid #FBB;
}

.channel-tab-main-div-fixed {
    position: fixed !important;
    top: 56px !important;
    width: 100% !important;
    background-color: #e53935;
    z-index: 2 !important;
    transition: box-shadow .5s ease;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 600px) {
    .channel-tab-main-div-fixed {
        position: fixed !important;
        top: 64px !important;
        width: 100% !important;
        background-color: #e53935;
        z-index: 2 !important;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    }
}

.channel-tab-content-fixed {
    margin-top: 48px;
}

.channel-tab-content {
    position: relative;
    top: -6px;
}

@media only screen and (min-width: 1025px) {
    .channel-tab-content {
        top: 0px;
        width: 87%;
        margin-left: auto;
        margin-right: auto;
    }
}

.channel-tab-main-div {
    position: relative;
    top: -6px;
    background-color: #e53935;
}

.channel-tab-icons {
    position: relative;
    top: 6px;
    left: -5px;
}

.channel-tab-bg {
    background-color: #e53935
}

.channel-tab-ul {
    width: 100%;
    padding-left: 0px;
    position: relative;
    left: 0px
}

@media only screen and (min-width: 1025px) {
    .channel-tab-ul {
        width: 65%;
        padding-left: 50px;
        position: relative;
        left: 50px
    }
}

.channel-tab-small-img {
    position: absolute;
    left: 50px;
    top: 8px;
    height: 35px;
}

.channel-main-div {
    background-color: #e53935;
    height: 60px;
    position: relative;
    top: -6px;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.16), 0 -4px 15px 0 rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 1025px) {
    .channel-main-div {
        height: 80px;
    }
}

.channel-main-div-img {
    position: relative;
    top: -25px;
    height: 50px;
    left: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 1025px) {
    .channel-main-div-img {
        position: relative;
        top: -70px;
        height: 130px;
        left: 70px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

.channel-main-div-title {
    font-weight: 300;
    position: absolute;
    top: -7px;
    left: 85px;
    display: inline-block;
    color: white;
    font-size: 22px;
    white-space: pre-line;
}

@media only screen and (min-width: 1025px) {
    .channel-main-div-title {
        font-size: 32px;
        position: relative;
        top: -85px;
        left: 100px;
        display: inline-block;
        color: white;
    }
}

.channel-description {
    white-space: pre-line;
}

@media screen and (max-width: 600px) {
    .mobile-search-focus {
        position: fixed !important;
        transform: translateX(-200px) !important;
    }
}

.mobile-sidenav-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 9;
    opacity: .2;
}

.li-side {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
}

.li-side:hover {
    background-color: #f5f5f5;
}

.side-nav-off {
    transform: translateX(-220px);
    transition: transform .2s ease;
}

.side-nav-on {
    transform: translateX(0px);
    transition: transform .2s ease;
}

.section-carousel {
    padding: 10px 20px;
    min-height: 200px
}

.video-title-carousel {
    padding: 0px !important;
    line-height: 16px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: black;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-info-bar-carousel {
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6);
    ;
    color: white;
}

.video-duration-carousel {
    padding-right: 5px;
    padding-left: 5px;
    font-size: .9em;
}

.video-views-carousel {
    font-size: .83em;
    color: #9e9e9e;
    font-weight: 400;
}

.video-uploaded-carousel {
    padding: 0px 5px;
    position: absolute;
    font-size: .8em;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
}

.video-channel-carousel {
    background-color: aliceblue;
    padding: 3px 4px;
    font-size: .9em;
    display: block;
    font-weight: 400;
}

.video-channel-carousel:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .row .col {
        padding: 0 0.25rem;
    }
    .video-channel-carousel {
        font-size: 1em;
    }
}

.card-click:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 3px 0 rgba(0, 0, 0, 0.12);
}

.next-carousel {
    height: 80px;
    padding-top: 30px;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
    right: 5px;
    top: 40%;
    width: 20px;
    background-color: white;
    transition: width .2s ease;
    transition: box-shadow .1s ease;
}

.next-carousel:hover {
    width: 25px;
    transition: width .2s ease;
}

.next-carousel:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 3px 0 rgba(0, 0, 0, 0.12);
}

.prev-carousel {
    border-radius: 2px;
    height: 80px;
    background-color: white;
    padding-top: 30px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    left: 5px;
    top: 40%;
    width: 20px;
    transition: box-shadow .1s ease;
    transition: width .2s ease
}

.prev-carousel:hover {
    transition: width .2s ease;
    width: 25px;
}

.prev-carousel:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 3px 0 rgba(0, 0, 0, 0.12);
}

.slide-left {
    transform: translateX(-100vw) !important;
    transition: transform .4s ease;
}

.slide-right {
    transform: translateX(100vw) !important;
    transition: transform .4s ease;
}

@media screen and (min-width: 601px) {
    .slide-left {
        transform: translateX(-100vw) !important;
        transition: transform .4s ease;
    }
    .slide-right {
        transform: translateX(100vw) !important;
        transition: transform .4s ease;
    }
}

@media screen and (min-width: 1024px) {
    .slide-left {
        transform: translateX(-100vw) !important;
        transition: transform .4s ease;
    }
    .slide-right {
        transform: translateX(100vw) !important;
        transition: transform .4s ease;
    }
}

.zero-left {
    left: 0px;
}

.search-page-margin {
    margin: 0px 10px
}

@media screen and (min-width: 1024px) {
    .search-page-margin {
        margin: 0px 85px
    }
}

@keyframes tiny-spinner {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes tiny-spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.tiny-spinner {
    min-width: 24px;
    min-height: 24px;
}

.tiny-spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

.tiny-spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid #C12828;
    border-top: 2px solid white;
    border-left: 2px solid white;
    animation: tiny-spinner .6s linear infinite;
    -webkit-animation: tiny-spinner .6s linear infinite;
}

.more-replies {
    color: #039be5;
    cursor: pointer;
    margin: 10px 0px;
    display: block;
}

.more-replies:hover {
    text-decoration: underline;
}

.more-replies-spinner {
    display: block;
    margin: 10px;
    position: relative;
    left: 20px;
}

.video-bar {
    cursor: pointer;
    z-index: 9;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    height: 80px;
    width: 100%;
    transition: all .3s ease;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 5px 0 rgba(0, 0, 0, 0.12);
}

.video-bar .video-title {
    position: relative;
    font-size: 1.4em;
    left: 10px;
    line-height: 2em;
    width: calc(100% - 250px);
}

.video-bar .channel-title {
    position: relative;
    left: 10px;
    top: -8px;
    font-size: .95em;
    width: calc(100% - 220px);
}

.video-bar .thumbnail {
    height: 100%;
    float: left;
}

.video-bar-padding {
    padding-left: 220px;
}

.video-bar>spinner {
    position: fixed;
    right: 15px;
    bottom: 12px
}

.play-pause-btn {
    position: fixed;
    right: 6px;
    bottom: 8px;
    font-size: 4.5em;
    color: #c62828;
    transition: color .3s;
}

.play-pause-btn:hover {
    color: #ff2828;
}

.transform-transition {
    transition: transform .5s ease;
}

.slide-down-video-page {
    transform: translateY(82vh);
}

.slide-up-video-page {
    transform: translateY(0vh);
}

.ui-view-margin-adjust {
    margin-bottom: 100px;
}

.progress-bar-bg {
    background: pink;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.progress-bar-bg.adjust-width {
    width: calc(100% - 220px);
}

.progress-bar {
    transition: width 1s;
    background: red;
    height: 4px;
    width: 0%;
    position: absolute;
    bottom: 0px;
}

.progress-bar.buffered {
    background: lightcoral;
}

.socicon {
    padding: 15px;
    font-size: 1.5em;
    transition: color .3s;
}
.socicon:hover {
    color: blue;
}
