.pre-wrap {
  white-space: pre-wrap !important;
}

.pre-line {
  white-space: pre-line !important;
}

.cur-p {
  cursor: pointer !important;
}

.router-enter-active,
.router-leave-active {
  transition: all 0.2s;
}
.router-enter,
.router-leave-to {
  transform: translateX(5px);
  opacity: 0;
}
