.pre-wrap {
  white-space: pre-wrap !important;
}

.pre-line {
  white-space: pre-line !important;
}

.cur-p {
  cursor: pointer !important;
}

.spin {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spin;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.router-enter-active,
.router-leave-active {
  transition: all 0.2s;
}
.router-enter,
.router-leave-to {
  transform: translateX(5px);
  opacity: 0;
}
